<!DOCTYPE html>
<html>
    
<head>
	 <link rel="stylesheet" type="text/css" href="style.css">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

<div id="center">

	<h1>Check Tracking App</h1>

	<div id="form">
		<input class="fa fa-search" type="text" name="search" placeholder="Search..."><br/><br/>
		
		<a href="https://www.cnn.com"><button class="button">Insert </button></a><br/><br/>

		<a href="https://www.foxnews.com"><button class="button">Update </button></a><br/><br/>

		<a href="#" onClick="alert('You Have Insufficient Permissions!');"><button class="button">Delete </button></a><br/><br/>
	</div>
</div>	

</body>
</html>
