{% load static %}

<!DOCTYPE html>
<html>

<head>
	 <link rel="stylesheet" type="text/css" href="{% static "mainstyle.css" %}">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

<div id="center">

	<h1>Check Tracking App</h1>

	<div id="form">
		<input class="fa fa-search" type="text" name="search" placeholder="Search..."><br/><br/>

		<button class="button" id="checkModal">Insert </button><br/><br/>
		

		<!-- The Modal -->
		<div id="myModal" class="modal">

		  <!-- Modal content -->
			<div class="modal-content">
			<span class="close">&times;</span>
			<div>
				<form>
					Name:
					<input type="text" name="custname"><br/><br/>
					Check Number:
					<input type="number" name="checkno"><br/><br/>
					Date:
					<input type="date" name="date"><br/>
				</form>
			</div><hr>
				<div class="modal-footer">
					<form>
						<button class="modal-footer-button">Insert</button>
						<button class="modal-footer-button">Cancel</button>
						<button class="modal-footer-button">Clear</button>
					</form>
				</div>
			</div>
			

		</div>
		
		<a href="/home"><button class="button">Insert </button></a><br/><br/>

		<a href="https://www.foxnews.com"><button class="button">Update </button></a><br/><br/>

		<a href="#" onClick="alert('You Have Insufficient Permissions!');"><button class="button">Delete </button></a><br/><br/>
	</div>
</div>	

</body>
</html>
